.logo{
    width: 300px;
    height: 100px;
    margin-top: auto;
    margin-bottom: auto;
}
.head_div{
    width: 100%;
    display: flex;
justify-content: center;
align-content: space-between;
flex-wrap: wrap;}
.stat_div{
    display: flex;
    flex-direction: column;}
.menu_div{
    display: flex;
    width: 100%;
    justify-content: center;
    align-content: space-around;}
.qs_buy_div{
    display: flex;}
.quick_search_div{
    border: 1px;
    border-color: black;
    width: fit-content;}
.qs_form{
    width: fit-content;}
aside{
    width: fit-content;
    position: fixed;
    left: 0;}
.menu_a{
    cursor: pointer;
}
main{
align-self: center;
align-items: center;
display: flex;
justify-content: center;
flex-direction: column;}
.search_div{
    display: flex;
    align-items: center;
}
input[type="checkbox"]{
    cursor: pointer;
}
input[type="submit"]{
    cursor: pointer;
}
button{
    cursor: pointer;
}
input[type="radio"]{
    cursor: pointer;
}